# Pokemon Data Analysis Using Pandas
This is a guided mini project where we look at pokemon data to learn how to use the Pandas library.<br>Data source: [Pokemon](https://www.kaggle.com/datasets/abcsds/pokemon)

## Read in the Pokemon csv file using pandas

In [91]:
import pandas as pd

poke = pd.read_csv('Pokemon.csv')

## Reading different aspects of the data

In [88]:
# reading the headers
poke.columns

# reading specific columns
poke['Name']

# reading the rows
poke.iloc[1]

# reading a specific cell
poke.iloc[2,1]

'Venusaur'

## Sorting and Describing the data

In [15]:
poke.sort_values(['Type 1', 'HP'], ascending=[True, True])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False

## Editing the Data

In [92]:
# two ways to make the 'Total' column
# poke['Total'] = poke['HP'] + poke['Attack'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def'] + poke['Speed']
poke['Total'] = poke.iloc[:, 4:10].sum(axis=1)

# drop if needed
# poke = poke.drop(columns=["Total"])

# moving the totals column
# cols = list(poke.columns)
# poke = poke[cols[0:4] + [cols[-1]] + cols[4:12]]

poke.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False

## Saving the Modified Data Frame as a csv

In [38]:
poke.to_csv('pokemon_modifed.csv', index=False)

## Filtering Data

In [83]:
# filtering and viewing the data frame and seeing all of the dragon type pokemon (my favorite type)
dragons = poke.loc[(poke['Type 1'] == 'Dragon') | (poke['Type 2'] == 'Dragon')]

# reset the index in the new data frame
dragons.reset_index(drop=True, inplace=True)

## Aggregate Statistics (Groupby)

In [99]:
# looking at the stats based on type 1 of pokemon
poke.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

# making it easier to see by breaking down by groups
poke['count'] = 1

poke.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64